.stage {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  outline: none; /* Hide focus outline from tabIndex */
}

.view {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform-origin: 0 0;
}

.element {
  position: absolute;
  box-sizing: border-box;
}

.backgroundGrid {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  background-image: linear-gradient(#eeeeee 1px, transparent 1px),
    linear-gradient(90deg, #eeeeee 1px, transparent 1px);
}

.selectionBox {
  border: 1px solid #0ea5e9; /* sky-500 */
  background-color: rgba(14, 165, 233, 0.1);
  position: absolute;
  z-index: 9999;
  box-sizing: border-box;
  transform-origin: 0 0;
}

.transformControls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border: 1px solid #0ea5e9; /* sky-500 */
  box-sizing: border-box;
}

.resizeHandle {
  position: absolute;
  border: 1px solid #0ea5e9; /* sky-500 */
  background-color: white;
  height: 8px;
  width: 8px;
  pointer-events: all;
  box-sizing: border-box;
  z-index: 10000;
}

/* Position and cursor for each handle */
.resizeHandle[data-resize-dir="top left"] {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  cursor: nwse-resize;
}
.resizeHandle[data-resize-dir="top right"] {
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  cursor: nesw-resize;
}
.resizeHandle[data-resize-dir="bottom left"] {
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
  cursor: nesw-resize;
}
.resizeHandle[data-resize-dir="bottom right"] {
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
  cursor: nwse-resize;
}
